* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: lightgrey;
}

button {
  margin: 30px auto;
}

#container {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 600px;
  height: 600px;
  display: grid;
  margin: auto;
  font-size: 0;
  background-color: white;
  grid-template-columns: repeat(60, 10px);
  grid-template-rows: repeat(60, 10px);
}

.new-div {
  display: inline-block;
  width: 6.25%;
  height: 6.25%;
  background-color: red;
  border: 1px black solid;
  box-sizing: border-box;
}
